<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum reprehenderit expedita omnis libero soluta ab
    consectetur perspiciatis. Accusamus eligendi eius quod. Nemo ducimus odit illum sunt placeat, dolor a incidunt?
</p>
<a href="/about">About</a>