<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/main.css"> -->
</head>

<body>
    <h2>Hello World</h2>
    <a href="/about">About page</a>
    <h2>
        <%= text %>
    </h2>
    <img src="img/1.jpg" alt="heart">
</body>

</html>